
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
} 


#InputForm{
  width: 300px;
  min-height: 120px;
  text-align:center; 
  background-color: linen;
  margin:0 auto;
} 


.nameInput, .urlInput{
  text-align:center;
  width: 180px;
  height: 25px;
  font-size: 1.3em;
}

.urlInput{
  margin-top:15px;
}


.category{
  width: 100px;
  text-align: center;
  position: relative;
  left: 30px;
  top: 20px;
}

.setbutton{
  float: right;
  position: relative;
  top: 20px;
}


#nav_list{
  margin-top:40px;
  display:grid; 
  grid-template-columns: repeat(6, 1fr);
}

#nav_list>div{
    font-size: 1.3em;
    text-align: center;
    border:1px solid white;
    color: black;
    background-color: papayawhip;
    min-height: 0px;
}


div>ul{
 background-color:honeydew; 
}


li{
  padding-top:15px;
  text-align: center;
  margin: 0px 0px 0px 35px;
  padding: 10px;
}



// 전체 요소들에 적용 - 글자 데코, margin, padding
// InputForm 블록을 만들어준다.
// Input 창 설정
// Input 창 간격
// Selectbox 설정
// button 설정
// nav_list 전체 설정(그리드)
// 각각 nav_list 설정
// list끼리 간격


// div 블럭 안에서 ul 로 인해 생기는 기호는 div 글자이다. 


// 가운데 정렬 margin: 0 auto; (body가 자동적으로 wrap이기에) 
// button 같은 것들은 css에서 그냥 button이라 적어도 적용된다.
