
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
} 

header{
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

firstBox{
  position: relative;
}

.text1, .text2{
  position: absolute;
  bottom: 0;
}

.text1{
  left:0;
}

.text2{
  right:30px;
}

.textbutton1, .textbutton2{
  position: absolute;
  bottom: 0;
}

.textbutton1{
  left: 369px;
} 
.textbutton2{
  right: 0;  
}

#InputForm{
  width: 100%;
  height: 120px;
  text-align:center; 
  background-color: cornsilk;
  margin:0 auto;
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  position: relative;
} 


.nameInput, .urlInput{
  text-align:center;
  height: 25px;
  font-size: 1.3em;
  display: block;
  margin: 0 auto;
}

.urlInput{
  margin-top:15px;
}


.category{
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 175px;
}

.setbutton{
  position: absolute;
  bottom: 0;
  right: 0;
}

.clock{
  text-align:center;
  font-size:1.5em;
  background-color: navajowhite;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

iframe{
  float:left;
}


#nav_list{
  display:grid; 
  grid-template-columns: repeat(6, 1fr);
}

#nav_list>div{
    font-size: 1.3em;
    text-align: center;
    border:1px solid white;
    color: black;
    background-color: papayawhip;
    min-height: 0px;
}


div>ul{
 background-color:honeydew; 
}


li{
  padding-top:15px;
  text-align: center;
  margin: 0px 0px 0px 35px;
  padding: 10px;
}



// 전체 요소들에 적용 - 글자 데코, margin, padding
// InputForm 블록을 만들어준다.
// Input 창 설정
// Input 창 간격
// Selectbox 설정
// button 설정
// nav_list 전체 설정(그리드)
// 각각 nav_list 설정
// list끼리 간격


// div 블럭 안에서 ul 로 인해 생기는 기호는 div 글자이다. 


// 가운데 정렬 margin: 0 auto; (body가 자동적으로 wrap이기에) 
// button 같은 것들은 css에서 그냥 button이라 적어도 적용된다.
